<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/Layout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            @Html.Action("Sidebar", "Main")
            @*<div class="sidebar-header">
                    <img src="~/img/icon.svg" class="sidebar-icon" /><span>語音後台管理系統</span>
                </div>*@
            @*<ul class="list-unstyled sidebar-body">
                    <li class="active">
                        <a href="#Dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-home text-primary"></i>日常資訊</a>
                        <ul class="collapse list-unstyled" id="Dashboard">
                            <li>
                                <a href="#">home1</a>
                            </li>
                            <li>
                                <a href="#">home2</a>
                            </li>
                            <li>
                                <a href="#">home3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-folder"></i>管理功能</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-chart-bar text-warning"></i>報表查詢</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">page1</a>
                            </li>
                            <li>
                                <a href="#">page2</a>
                            </li>
                            <li>
                                <a href="#">page3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-cog text-danger"></i>參數設定</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-tasks text-success"></i>權限設定</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user text-dark"></i>個人資料</a>
                    </li>
                    <li>
                        <a href="#sysSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-tools text-info"></i>系統設定</a>
                        <ul class="collapse list-unstyled" id="sysSubmenu">
                            <li>
                                <a href="#">page1</a>
                            </li>
                            <li>
                                <a href="#">page2</a>
                            </li>
                            <li>
                                <a href="#">page3</a>
                            </li>
                        </ul>
                    </li>
                </ul>*@

            <ul class="list-unstyled">
                <li>
                    <a href="#" class="download">Develop Mode</a>
                </li>
                <li>
                    <a href="#" class="article">Article</a>
                </li>
            </ul>

        </nav>
        <div id="content">
            <!--navbar-->
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-bars"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="far fa-user"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                王小明
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">個人資料</a>
                                <a class="dropdown-item" href="#">喜好設定</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">登出</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--/navbar-->
            <!--content-->
            <main>
                @RenderBody()
            </main>

            <!--/content-->
        </div>

    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/js/Layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>