USE [master]
GO
/****** Object:  Database [TP_SCC]    Script Date: 2020/11/8 下午 04:01:52 ******/
CREATE DATABASE [TP_SCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SC', FILENAME = N'D:\DATA\TP_SCC.mdf' , SIZE = 9856KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SC_log', FILENAME = N'D:\DATA\TP_SCC_log.ldf' , SIZE = 9856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_SCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_SCC]
GO
USE [TP_SCC]
GO
/****** Object:  Sequence [dbo].[USERS_SEQ]    Script Date: 2020/11/8 下午 04:01:52 ******/
CREATE SEQUENCE [dbo].[USERS_SEQ] 
 AS [int]
 START WITH 3
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CYCLE 
 NO CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[DATA_NAME]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- SELECT [dbo].[DATA_NAME] ('MSPCAI','PH2F','SEF16', 22.45617)
-- SELECT [dbo].[DATA_NAME] ('MSPCSTATS','27F','SEF04', 0)
-- =============================================
CREATE FUNCTION [dbo].[DATA_NAME] 
(
	@DATA_TYPE AS VARCHAR(50),
	@LOCATION AS VARCHAR(50),
	@DATA_FIELD AS VARCHAR(50),
	@VALUE AS REAL
)
RETURNS VARCHAR(100)
AS
BEGIN
	DECLARE @DATA_VALUE AS VARCHAR(50)

	SELECT @DATA_VALUE = CASE 
			WHEN @DATA_TYPE='AHU' AND @DATA_FIELD='AHU01' THEN TP_SCC.[dbo].[PHRASE_NAME]('function_fail_AHU',@VALUE,@LOCATION) 
			WHEN @DATA_TYPE='AHU' AND @DATA_FIELD='AHU02' THEN TP_SCC.[dbo].[PHRASE_NAME]('switch_status',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='Chiller' AND @DATA_FIELD='Chiller07' THEN TP_SCC.[dbo].[PHRASE_NAME]('running',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='Chiller' AND @DATA_FIELD='Chiller08' THEN TP_SCC.[dbo].[PHRASE_NAME]('function_fail',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='Chiller' AND @DATA_FIELD='Chiller09' THEN TP_SCC.[dbo].[PHRASE_NAME]('switch_status',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='COP' AND @DATA_FIELD='COP01' THEN TP_SCC.[dbo].[PHRASE_NAME]('running',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='COP' AND @DATA_FIELD='COP02' THEN TP_SCC.[dbo].[PHRASE_NAME]('function_fail',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='COP' AND @DATA_FIELD='COP03' THEN TP_SCC.[dbo].[PHRASE_NAME]('open_close',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='COP' AND @DATA_FIELD='COP04' THEN TP_SCC.[dbo].[PHRASE_NAME]('switch_status',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CP' AND @DATA_FIELD='CP01' THEN TP_SCC.[dbo].[PHRASE_NAME]('running',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CP' AND @DATA_FIELD='CP02' THEN TP_SCC.[dbo].[PHRASE_NAME]('function_fail',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CP' AND @DATA_FIELD='CP03' THEN TP_SCC.[dbo].[PHRASE_NAME]('switch_status',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CP' AND @DATA_FIELD='CP04' THEN TP_SCC.[dbo].[PHRASE_NAME]('open_close',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='ZP1' AND @DATA_FIELD='ZP107' THEN TP_SCC.[dbo].[PHRASE_NAME]('running',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='ZP1' AND @DATA_FIELD='ZP108' THEN TP_SCC.[dbo].[PHRASE_NAME]('function_fail',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='ZP1' AND @DATA_FIELD='ZP109' THEN TP_SCC.[dbo].[PHRASE_NAME]('switch_status',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='ZP1' AND @DATA_FIELD='ZP110' THEN TP_SCC.[dbo].[PHRASE_NAME]('open_close',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CT' AND @DATA_FIELD='CT01' THEN TP_SCC.[dbo].[PHRASE_NAME]('running',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CT' AND @DATA_FIELD='CT02' THEN TP_SCC.[dbo].[PHRASE_NAME]('function_fail',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='CT' AND @DATA_FIELD='CT03' THEN TP_SCC.[dbo].[PHRASE_NAME]('switch_status',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='WSDS_PVOI' AND @DATA_FIELD='WSDS_PVOI_STATUS' THEN TP_SCC.[dbo].[PHRASE_NAME]('on_off',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='WSDS_PWLS' AND @DATA_FIELD='WSDS_PWLS_STATUS' THEN TP_SCC.[dbo].[PHRASE_NAME]('up_down',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='RRS_PVOI' AND @DATA_FIELD>='RRS01_PVOI01' AND @DATA_FIELD<='RRS07_PVOI01' THEN TP_SCC.[dbo].[PHRASE_NAME]('on_off',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='RRS_PWLS' AND @DATA_FIELD>='RRS01_PWLS01' AND @DATA_FIELD<='RRS13_PWLS01' THEN TP_SCC.[dbo].[PHRASE_NAME]('up_down',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='MSPCSTATS' AND @DATA_FIELD>='SEF01' AND @DATA_FIELD<='SEF08' THEN TP_SCC.[dbo].[PHRASE_NAME]('on_off',@VALUE,DEFAULT) 
			WHEN @DATA_TYPE='MSPCALARS' AND @DATA_FIELD>='SEF09' AND @DATA_FIELD<='SEF15' THEN TP_SCC.[dbo].[PHRASE_NAME]('alert_onoff',@VALUE,DEFAULT) 
		ELSE
			CONVERT(VARCHAR(50),@VALUE)
		END

		IF @DATA_VALUE IS NULL
		BEGIN
			SET @DATA_VALUE = @VALUE
		END
	
	RETURN @DATA_VALUE
END





GO
/****** Object:  UserDefinedFunction [dbo].[PHRASE_NAME]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- SELECT [dbo].[PHRASE_NAME]('functions','P',DEFAULT)
-- SELECT [dbo].[PHRASE_NAME]('AHU_AHU01',1.0,DEFAULT)
-- SELECT [dbo].[PHRASE_NAME]('AHU_LOCATION','0B1F','AHU')
-- =============================================
CREATE FUNCTION [dbo].[PHRASE_NAME] 
(
	@PHRASE_GROUP AS VARCHAR(50),
	@PHRASE_KEY AS VARCHAR(50),
	@PARENT_KEY AS VARCHAR(50) =''
)
RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @PHRASE_VALUE AS VARCHAR(50)
	SELECT @PHRASE_VALUE=PHRASE_VALUE FROM PHRASE WHERE PHRASE_GROUP=@PHRASE_GROUP AND PHRASE_KEY=@PHRASE_KEY AND PARENT_KEY=@PARENT_KEY
	IF @PHRASE_VALUE IS NULL
	BEGIN
		SET @PHRASE_VALUE = @PHRASE_KEY
	END
	RETURN @PHRASE_VALUE
END





GO
/****** Object:  UserDefinedFunction [dbo].[USERS_NAME]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- SELECT dbo.USERS_NAME('Admin')
-- =============================================
CREATE FUNCTION [dbo].[USERS_NAME] 
(
	@ID VARCHAR(50)
)
RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @NAME AS VARCHAR(50)
	SELECT @NAME=NAME FROM USERS WHERE ID=@ID
	RETURN @NAME
END





GO
/****** Object:  Table [dbo].[AUTHORITY]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHORITY](
	[SN] [int] IDENTITY(1,1) NOT NULL,
	[USERS_SN] [int] NULL,
	[ROLES_SN] [int] NULL,
	[FUNCTIONS_SN] [smallint] NOT NULL,
	[CDATE] [smalldatetime] NULL,
	[CUSER] [smallint] NULL,
	[MDATE] [smalldatetime] NOT NULL,
	[MUSER] [smallint] NOT NULL,
 CONSTRAINT [PK_AUTHORITY] PRIMARY KEY CLUSTERED 
(
	[SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCTIONS]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTIONS](
	[SN] [smallint] NOT NULL,
	[NAME] [varchar](24) NOT NULL,
	[CATEGORY] [char](1) NOT NULL,
	[PARENT_SN] [smallint] NOT NULL,
	[URL] [varchar](100) NOT NULL,
	[SORT] [smallint] NULL,
	[MODE] [char](1) NOT NULL,
	[IMG] [varchar](100) NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [smallint] NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [smallint] NOT NULL,
 CONSTRAINT [PK_FUNCTIONS] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRANTS]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRANTS](
	[ROLES_SN] [int] NOT NULL,
	[USERS_SN] [int] NOT NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GRANTS_ROLES_SN] PRIMARY KEY CLUSTERED 
(
	[ROLES_SN] DESC,
	[USERS_SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHRASE]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHRASE](
	[SN] [int] IDENTITY(1,1) NOT NULL,
	[PHRASE_GROUP] [varchar](50) NOT NULL,
	[PHRASE_KEY] [varchar](50) NOT NULL,
	[PHRASE_VALUE] [varchar](50) NOT NULL,
	[PHRASE_DESC] [varchar](500) NULL,
	[PARENT_KEY] [varchar](50) NOT NULL,
	[SORT] [int] NULL,
	[MODE] [char](1) NOT NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PHRASE_1] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[SN] [smallint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[MODE] [char](1) NOT NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROLES_SN] PRIMARY KEY CLUSTERED 
(
	[SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEQ]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQ](
	[SEQ_TYPE] [varchar](20) NOT NULL,
	[SEQ_PRE] [varchar](10) NOT NULL,
	[SEQ_NO] [varchar](30) NOT NULL,
	[MDATE] [datetime] NOT NULL,
	[CDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SEQ] PRIMARY KEY CLUSTERED 
(
	[SEQ_TYPE] ASC,
	[SEQ_PRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEQ_BIGINT]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQ_BIGINT](
	[SEQ_TYPE] [varchar](50) NOT NULL,
	[SEQ_NO] [bigint] NOT NULL,
	[MDATE] [datetime] NOT NULL,
	[CDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SEQ_BIGINT_1] PRIMARY KEY CLUSTERED 
(
	[SEQ_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[SN] [int] NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[MODE] [char](1) NOT NULL,
	[MEMO] [varchar](500) NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
	[FORCE_PWD] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VARIABLE]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARIABLE](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[VAR_TYPE] [varchar](20) NOT NULL,
	[VAR_KEY] [varchar](10) NOT NULL,
	[VAR_VALUE] [varchar](50) NOT NULL,
	[VAR_STATUS] [varchar](10) NOT NULL,
	[VAR_ORDER] [int] NULL,
	[VAR_DESC] [varchar](50) NULL,
	[CDATE] [datetime] NOT NULL,
	[CUSER] [varchar](10) NOT NULL,
	[MDATE] [datetime] NOT NULL,
	[MUSER] [varchar](10) NOT NULL,
 CONSTRAINT [PK_VARIABLE] PRIMARY KEY CLUSTERED 
(
	[SID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTHORITY] ON 
GO
INSERT [dbo].[AUTHORITY] ([SN], [USERS_SN], [ROLES_SN], [FUNCTIONS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (191, NULL, 1, 830, CAST(N'2020-08-16T00:00:00' AS SmallDateTime), 0, CAST(N'2020-08-16T00:00:00' AS SmallDateTime), 0)
GO
INSERT [dbo].[AUTHORITY] ([SN], [USERS_SN], [ROLES_SN], [FUNCTIONS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (190, NULL, 2, 820, CAST(N'2020-08-16T00:00:00' AS SmallDateTime), 0, CAST(N'2020-08-16T00:00:00' AS SmallDateTime), 0)
GO
INSERT [dbo].[AUTHORITY] ([SN], [USERS_SN], [ROLES_SN], [FUNCTIONS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (189, NULL, 2, 810, CAST(N'2020-08-16T00:00:00' AS SmallDateTime), 0, CAST(N'2020-08-16T00:00:00' AS SmallDateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[AUTHORITY] OFF
GO
INSERT [dbo].[FUNCTIONS] ([SN], [NAME], [CATEGORY], [PARENT_SN], [URL], [SORT], [MODE], [IMG], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (100, N'中央空調系統', N'S', 0, N'', 100, N'Y', N'fas fa-snowflake text-primary', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[FUNCTIONS] ([SN], [NAME], [CATEGORY], [PARENT_SN], [URL], [SORT], [MODE], [IMG], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (110, N'空調箱', N'D', 100, N'', 110, N'Y', N'fas fa-folder text-warning', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[FUNCTIONS] ([SN], [NAME], [CATEGORY], [PARENT_SN], [URL], [SORT], [MODE], [IMG], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (111, N'數據查詢', N'P', 110, N'/AHU/Data', 111, N'Y', N'', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[GRANTS] ([ROLES_SN], [USERS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, 6, CAST(N'2020-08-26T12:31:59.0000000' AS DateTime2), N'ADMIN', CAST(N'2020-09-05T17:10:02.0000000' AS DateTime2), N'ADMIN')
GO
INSERT [dbo].[GRANTS] ([ROLES_SN], [USERS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, 5, CAST(N'2019-11-24T10:09:40.0000000' AS DateTime2), N'ADMIN', CAST(N'2020-08-26T14:21:40.0000000' AS DateTime2), N'ADMIN')
GO
INSERT [dbo].[GRANTS] ([ROLES_SN], [USERS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, 4, CAST(N'2019-11-24T09:42:32.0000000' AS DateTime2), N'ADMIN', CAST(N'2019-11-24T09:42:32.0000000' AS DateTime2), N'ADMIN')
GO
SET IDENTITY_INSERT [dbo].[PHRASE] ON 
GO
INSERT [dbo].[PHRASE] ([SN], [PHRASE_GROUP], [PHRASE_KEY], [PHRASE_VALUE], [PHRASE_DESC], [PARENT_KEY], [SORT], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (1, N'functions', N'D', N'目錄', N'', N'', 2, N'Y', CAST(N'2019-11-05T08:10:50.0000000' AS DateTime2), N'ADMIN', CAST(N'2019-11-05T08:10:50.0000000' AS DateTime2), N'ADMIN')
GO
INSERT [dbo].[PHRASE] ([SN], [PHRASE_GROUP], [PHRASE_KEY], [PHRASE_VALUE], [PHRASE_DESC], [PARENT_KEY], [SORT], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, N'functions', N'S', N'系統', N'', N'', 1, N'Y', CAST(N'2019-11-05T08:10:50.0000000' AS DateTime2), N'ADMIN', CAST(N'2019-11-05T08:10:50.0000000' AS DateTime2), N'ADMIN')
GO
INSERT [dbo].[PHRASE] ([SN], [PHRASE_GROUP], [PHRASE_KEY], [PHRASE_VALUE], [PHRASE_DESC], [PARENT_KEY], [SORT], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (3, N'functions', N'P', N'程式', N'', N'', 3, N'Y', CAST(N'2019-11-05T08:10:50.0000000' AS DateTime2), N'ADMIN', CAST(N'2019-11-05T08:10:50.0000000' AS DateTime2), N'ADMIN')
GO
SET IDENTITY_INSERT [dbo].[PHRASE] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 
GO
INSERT [dbo].[ROLES] ([SN], [NAME], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, N'使用者群組', N'Y', CAST(N'2019-11-20T00:00:00.0000000' AS DateTime2), N'Admin', CAST(N'2019-11-20T00:00:00.0000000' AS DateTime2), N'Admin')
GO
INSERT [dbo].[ROLES] ([SN], [NAME], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (1, N'系統管理群組', N'Y', CAST(N'2019-11-20T00:00:00.0000000' AS DateTime2), N'Admin', CAST(N'2019-11-20T00:00:00.0000000' AS DateTime2), N'Admin')
GO
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
INSERT [dbo].[SEQ] ([SEQ_TYPE], [SEQ_PRE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'INTERVIEW', N'DATETIME', N'201908232053001', CAST(N'2019-08-23T20:53:04.203' AS DateTime), CAST(N'2019-02-20T11:35:10.573' AS DateTime))
GO
INSERT [dbo].[SEQ_BIGINT] ([SEQ_TYPE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'CASE_OWNER', 456, CAST(N'2019-08-23T19:10:41.663' AS DateTime), CAST(N'2019-05-12T17:37:04.757' AS DateTime))
GO
INSERT [dbo].[SEQ_BIGINT] ([SEQ_TYPE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'FEELING', 3034, CAST(N'2019-08-23T20:45:42.160' AS DateTime), CAST(N'2019-05-12T17:37:04.757' AS DateTime))
GO
INSERT [dbo].[SEQ_BIGINT] ([SEQ_TYPE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'INTERVENTION', 3964, CAST(N'2019-08-23T20:45:42.173' AS DateTime), CAST(N'2019-05-12T17:37:04.757' AS DateTime))
GO
INSERT [dbo].[USERS] ([SN], [ID], [NAME], [PASSWORD], [EMAIL], [MODE], [MEMO], [CDATE], [CUSER], [MDATE], [MUSER], [FORCE_PWD]) VALUES (7, N'AD1', N'AD1', N'AD', N'TEST1@taiwantaxi.com.tw', N'Y', N'備註AD1', CAST(N'2020-08-26T14:32:19.0000000' AS DateTime2), N'ADMIN', CAST(N'2020-08-26T14:32:27.0000000' AS DateTime2), N'ADMIN', 1)
GO
INSERT [dbo].[USERS] ([SN], [ID], [NAME], [PASSWORD], [EMAIL], [MODE], [MEMO], [CDATE], [CUSER], [MDATE], [MUSER], [FORCE_PWD]) VALUES (6, N'TEST', N'TEST', N'TEST', N'', N'Y', N'TEST', CAST(N'2020-08-26T12:31:59.0000000' AS DateTime2), N'ADMIN', CAST(N'2020-09-05T17:10:02.0000000' AS DateTime2), N'ADMIN', 1)
GO
INSERT [dbo].[USERS] ([SN], [ID], [NAME], [PASSWORD], [EMAIL], [MODE], [MEMO], [CDATE], [CUSER], [MDATE], [MUSER], [FORCE_PWD]) VALUES (2, N'USER', N'使用者', N'USER', N'', N'Y', N'', CAST(N'2019-11-05T00:00:00.0000000' AS DateTime2), N'Admin', CAST(N'2020-08-26T14:33:10.0000000' AS DateTime2), N'ADMIN', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PHRASE]    Script Date: 2020/11/8 下午 04:01:52 ******/
ALTER TABLE [dbo].[PHRASE] ADD  CONSTRAINT [UK_PHRASE] UNIQUE NONCLUSTERED 
(
	[PHRASE_GROUP] ASC,
	[PHRASE_KEY] ASC,
	[PARENT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_USERS_ID]    Script Date: 2020/11/8 下午 04:01:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_USERS_ID] ON [dbo].[USERS]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_VARIABLE]    Script Date: 2020/11/8 下午 04:01:52 ******/
ALTER TABLE [dbo].[VARIABLE] ADD  CONSTRAINT [UK_VARIABLE] UNIQUE NONCLUSTERED 
(
	[VAR_TYPE] ASC,
	[VAR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTHORITY] ADD  CONSTRAINT [DF_AUTHORITY_MDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[AUTHORITY] ADD  CONSTRAINT [DF_AUTHORITY_MDATE1]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[FUNCTIONS] ADD  CONSTRAINT [DF_FUNCTION_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[FUNCTIONS] ADD  CONSTRAINT [DF_FUNCTION_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[PHRASE] ADD  CONSTRAINT [DF_PHRASE_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[PHRASE] ADD  CONSTRAINT [DF_PHRASE_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[SEQ] ADD  CONSTRAINT [DF_SEQ_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[SEQ] ADD  CONSTRAINT [DF_SEQ_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[SEQ_BIGINT] ADD  CONSTRAINT [DF_SEQ_BIGINT_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[SEQ_BIGINT] ADD  CONSTRAINT [DF_SEQ_BIGINT_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_FORCE_PWD]  DEFAULT ((1)) FOR [FORCE_PWD]
GO
ALTER TABLE [dbo].[VARIABLE] ADD  CONSTRAINT [DF_VARIABLE_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[VARIABLE] ADD  CONSTRAINT [DF_VARIABLE_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
/****** Object:  StoredProcedure [dbo].[PRIVATE_UPDATE_FUNCTIONS]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PRIVATE_UPDATE_FUNCTIONS]
AS
BEGIN
	
  UPDATE [TP_SCC].[dbo].[FUNCTIONS]
  SET [MODE]='N'

  UPDATE [TP_SCC].[dbo].[FUNCTIONS]
	SET [MODE]='Y' 
	WHERE SN IN (800,810,820,900,911)

END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEQ]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<JACKY.CHUEH>
-- Create date: <2001/11/15>
-- Description:	<Description,,>
--Example: 
/*
	DECLARE @CUR_TYPE VARCHAR(20)='TEST'
	DECLARE @CUR_PRE VARCHAR(10)='DATETIME'
	DECLARE @LEN INT=3
	EXEC [dbo].[USP_SEQ] @CUR_TYPE,@CUR_PRE,@LEN
	
*/

-- =============================================
CREATE PROCEDURE [dbo].[USP_SEQ]
	@CUR_TYPE VARCHAR(20)='RND',
	@CUR_PRE VARCHAR(10)='RND',
	@LEN INT=4
AS
BEGIN
	BEGIN TRANSACTION
	DECLARE @CUR_NO VARCHAR(20)
	DECLARE @NEW_NO VARCHAR(20)
	DECLARE @DATETIME VARCHAR(12)=CONVERT(VARCHAR(20),GETDATE(),112)+REPLACE(CONVERT(VARCHAR(5), GETDATE(), 108),':','')
	DECLARE @ROWCOUNT INT
	
	SELECT @CUR_NO=[SEQ_NO] FROM [dbo].[SEQ] WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
	IF @@ROWCOUNT=1
	BEGIN
		IF @CUR_PRE='DATETIME'
		BEGIN
			IF LEFT(@CUR_NO,12)=@DATETIME
			BEGIN
				SELECT @NEW_NO=@DATETIME+RIGHT(REPLICATE('0' ,@LEN)+CONVERT(VARCHAR(MAX),CONVERT(INT,RIGHT(@CUR_NO,@LEN))+1),@LEN)
				UPDATE [dbo].[SEQ] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
				SET @ROWCOUNT=@@ROWCOUNT
			END 
			ELSE
			BEGIN
				SELECT @NEW_NO=@DATETIME+REPLICATE('0' ,@LEN-1)+'1'
				UPDATE [dbo].[SEQ] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
				SET @ROWCOUNT=@@ROWCOUNT
			END
		END
		ELSE
		BEGIN
			SELECT @NEW_NO=@CUR_PRE+RIGHT(REPLICATE('0' ,@LEN)+CONVERT(VARCHAR(MAX),CONVERT(INT,RIGHT(@CUR_NO,@LEN))+1),@LEN)
			UPDATE [dbo].[SEQ] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
			SET @ROWCOUNT=@@ROWCOUNT
		END
		
	END
	ELSE
	BEGIN
		IF @CUR_PRE='DATETIME'
		BEGIN
			SELECT @NEW_NO=@DATETIME+REPLICATE('0' ,@LEN-1)+'1'
			PRINT @NEW_NO
		END
		ELSE
		BEGIN
			SELECT @NEW_NO=@CUR_PRE+REPLICATE('0' ,@LEN-1)+'1'
			PRINT @NEW_NO
		END
		INSERT INTO [dbo].[SEQ] ([SEQ_TYPE],[SEQ_PRE],[SEQ_NO],[MDATE],[CDATE]) VALUES (@CUR_TYPE,@CUR_PRE,@NEW_NO,GETDATE(),GETDATE())
	END
	
	IF @@ERROR<>0 OR @ROWCOUNT=0
	BEGIN
		ROLLBACK TRANSACTION
		SELECT '1' AS [ERROR], '' AS [NEW_NO]
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SELECT '0' AS [ERROR], @NEW_NO AS [NEW_NO]
	END
	
END





GO
/****** Object:  StoredProcedure [dbo].[USP_SEQ_BIGINT]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<JACKY.CHUEH>
-- Create date: <2001/11/15>
-- Description:	<Description,,>
--Example: 
/*
	DECLARE @CUR_TYPE VARCHAR(20)='CASE_OWNER'
	EXEC [dbo].[USP_SEQ_BIGINT] @CUR_TYPE
	
*/

-- =============================================
create PROCEDURE [dbo].[USP_SEQ_BIGINT]
	@CUR_TYPE VARCHAR(20)='DEFAULT'
AS
BEGIN
	BEGIN TRANSACTION
	DECLARE @CUR_NO BIGINT
	DECLARE @NEW_NO BIGINT
	DECLARE @ROWCOUNT INT
	
	SELECT @CUR_NO=[SEQ_NO] FROM [dbo].[SEQ_BIGINT] WHERE [SEQ_TYPE]=@CUR_TYPE
	IF @@ROWCOUNT=1
	BEGIN
		BEGIN
			SELECT @NEW_NO=@CUR_NO+1
			UPDATE [dbo].[SEQ_BIGINT] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE
			SET @ROWCOUNT=@@ROWCOUNT
		END
		
	END
	ELSE
	BEGIN
		BEGIN
			SELECT @NEW_NO=1
			--PRINT @NEW_NO
		END
		INSERT INTO [dbo].[SEQ_BIGINT] ([SEQ_TYPE],[SEQ_NO],[MDATE],[CDATE]) VALUES (@CUR_TYPE,@NEW_NO,GETDATE(),GETDATE())
	END
	
	IF @@ERROR<>0 OR @ROWCOUNT=0
	BEGIN
		ROLLBACK TRANSACTION
		SELECT '1' AS [ERROR], '' AS [NEW_NO]
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SELECT '0' AS [ERROR], @NEW_NO AS [NEW_NO]
	END
	
END





GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_TP_DSCCR_CDATE]    Script Date: 2020/11/8 下午 04:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<JACKY.CHUEH>
-- Create date: <2001/11/15>
-- Description:	<Description,,>
--Example: 
/*
	
EXEC [dbo].[USP_UPDATE_TP_DSCCR_CDATE] 3

UPDATE  [TP_DSCCR].[dbo].[CT]
	SET [CDATE]=DATEADD(day,21,[CDATE])

UPDATE   [TP_DSCCR].[dbo].[RRS_PWLS]
SET [CDATE]='2019-11-11 '+ CONVERT(VARCHAR(2),DATEPART(hour, [CDATE]))+':'+CONVERT(VARCHAR(2),DATEPART(minute, [CDATE]))+':'+CONVERT(VARCHAR(2),DATEPART(second, [CDATE]))
  WHERE [CDATE]>'2019-11-08' AND [CDATE]<'2019-11-09'
*/

-- =============================================
CREATE PROCEDURE [dbo].[USP_UPDATE_TP_DSCCR_CDATE]
	@N INT=1
AS
BEGIN

UPDATE  [TP_DSCCR].[dbo].[AHU]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[Chiller]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[COP]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[CP]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[CT]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[RRS_PVOI]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[RRS_PWLS]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[RRS_VFLH]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[WSDS_PVOI]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[WSDS_PWLS]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
UPDATE  [TP_DSCCR].[dbo].[ZP1]
	SET [CDATE]=DATEADD(day,@N,[CDATE])
  

END





GO
USE [master]
GO
