USE [master]
GO
/****** Object:  Database [TP_SCC]    Script Date: 2019/8/30 上午 07:56:20 ******/
CREATE DATABASE [TP_SCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SC', FILENAME = N'D:\DATA\SC.mdf' , SIZE = 9856KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SC_log', FILENAME = N'D:\DATA\SC_log.ldf' , SIZE = 60296KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_SCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_SCC]
GO
/****** Object:  UserDefinedFunction [dbo].[PHRASE_NAME]    Script Date: 2019/8/30 上午 07:56:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- SELECT [dbo].[PHRASE_NAME]('functions','P')
-- =============================================
CREATE FUNCTION [dbo].[PHRASE_NAME] 
(
	@PHRASE_GROUP AS VARCHAR(50),
	@PHRASE_KEY AS VARCHAR(50)
)
RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @PHRASE_VALUE AS VARCHAR(50)
	SELECT @PHRASE_VALUE=PHRASE_VALUE FROM PHRASE WHERE PHRASE_GROUP=@PHRASE_GROUP AND PHRASE_KEY=@PHRASE_KEY
	RETURN @PHRASE_VALUE
END

GO
/****** Object:  UserDefinedFunction [dbo].[USERS_NAME]    Script Date: 2019/8/30 上午 07:56:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- SELECT dbo.USERS_NAME('Admin')
-- =============================================
CREATE FUNCTION [dbo].[USERS_NAME] 
(
	@ID VARCHAR(50)
)
RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @NAME AS VARCHAR(50)
	SELECT @NAME=NAME FROM USERS WHERE ID=@ID
	RETURN @NAME
END

GO
/****** Object:  Table [dbo].[AUTHORITY]    Script Date: 2019/8/30 上午 07:56:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHORITY](
	[SN] [int] IDENTITY(1,1) NOT NULL,
	[USERS_SN] [smallint] NULL,
	[ROLES_SN] [int] NULL,
	[FUNCTIONS_SN] [smallint] NOT NULL,
	[CDATE] [smalldatetime] NULL,
	[CUSER] [smallint] NULL,
	[MDATE] [smalldatetime] NOT NULL,
	[MUSER] [smallint] NOT NULL,
 CONSTRAINT [PK_AUTHORITY] PRIMARY KEY CLUSTERED 
(
	[SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCTIONS]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTIONS](
	[SN] [smallint] NOT NULL,
	[NAME] [varchar](24) NOT NULL,
	[CATEGORY] [char](1) NOT NULL,
	[PARENT_SN] [smallint] NOT NULL,
	[URL] [varchar](100) NOT NULL,
	[SORT] [smallint] NULL,
	[MODE] [char](1) NOT NULL,
	[IMG] [varchar](100) NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [smallint] NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [smallint] NOT NULL,
 CONSTRAINT [PK_FUNCTIONS] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRANTS]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRANTS](
	[ROLES_SN] [int] NOT NULL,
	[USERS_SN] [int] NOT NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GRANTS_ROLES_SN] PRIMARY KEY CLUSTERED 
(
	[ROLES_SN] DESC,
	[USERS_SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHRASE]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHRASE](
	[SN] [int] NOT NULL,
	[PHRASE_GROUP] [varchar](50) NOT NULL,
	[PHRASE_KEY] [varchar](50) NOT NULL,
	[PHRASE_VALUE] [varchar](50) NOT NULL,
	[PHRASE_DESC] [varchar](500) NULL,
	[PARENT_SN] [int] NULL,
	[SORT] [int] NULL,
	[MODE] [char](1) NOT NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PHRASE_1] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[SN] [smallint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[MODE] [char](1) NOT NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROLES_SN] PRIMARY KEY CLUSTERED 
(
	[SN] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEQ]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQ](
	[SEQ_TYPE] [varchar](20) NOT NULL,
	[SEQ_PRE] [varchar](10) NOT NULL,
	[SEQ_NO] [varchar](30) NOT NULL,
	[MDATE] [datetime] NOT NULL,
	[CDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SEQ] PRIMARY KEY CLUSTERED 
(
	[SEQ_TYPE] ASC,
	[SEQ_PRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEQ_BIGINT]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQ_BIGINT](
	[SEQ_TYPE] [varchar](50) NOT NULL,
	[SEQ_NO] [bigint] NOT NULL,
	[MDATE] [datetime] NOT NULL,
	[CDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SEQ_BIGINT_1] PRIMARY KEY CLUSTERED 
(
	[SEQ_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[SN] [smallint] NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[MODE] [char](1) NOT NULL,
	[MEMO] [varchar](500) NULL,
	[CDATE] [datetime2](0) NOT NULL,
	[CUSER] [varchar](50) NOT NULL,
	[MDATE] [datetime2](0) NOT NULL,
	[MUSER] [varchar](50) NOT NULL,
	[FORCE_PWD] [smallint] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VARIABLE]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARIABLE](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[VAR_TYPE] [varchar](20) NOT NULL,
	[VAR_KEY] [varchar](10) NOT NULL,
	[VAR_VALUE] [varchar](50) NOT NULL,
	[VAR_STATUS] [varchar](10) NOT NULL,
	[VAR_ORDER] [int] NULL,
	[VAR_DESC] [varchar](50) NULL,
	[CDATE] [datetime] NOT NULL,
	[CUSER] [varchar](10) NOT NULL,
	[MDATE] [datetime] NOT NULL,
	[MUSER] [varchar](10) NOT NULL,
 CONSTRAINT [PK_VARIABLE] PRIMARY KEY CLUSTERED 
(
	[SID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTHORITY] ON 
GO
INSERT [dbo].[AUTHORITY] ([SN], [USERS_SN], [ROLES_SN], [FUNCTIONS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (30, NULL, 1, 110, CAST(N'2019-02-20T11:26:00' AS SmallDateTime), 0, CAST(N'2019-02-20T11:26:00' AS SmallDateTime), 0)
GO
INSERT [dbo].[AUTHORITY] ([SN], [USERS_SN], [ROLES_SN], [FUNCTIONS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (29, NULL, 1, 120, CAST(N'2019-02-20T11:26:00' AS SmallDateTime), 0, CAST(N'2019-02-20T11:26:00' AS SmallDateTime), 0)
GO
INSERT [dbo].[AUTHORITY] ([SN], [USERS_SN], [ROLES_SN], [FUNCTIONS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (28, NULL, 1, 125, CAST(N'2019-02-20T11:26:00' AS SmallDateTime), 0, CAST(N'2019-02-20T11:26:00' AS SmallDateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[AUTHORITY] OFF
GO
INSERT [dbo].[FUNCTIONS] ([SN], [NAME], [CATEGORY], [PARENT_SN], [URL], [SORT], [MODE], [IMG], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (100, N'報表查詢', N'S', 0, N'', 100, N'Y', N'fa-chart-bar text-primary', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[FUNCTIONS] ([SN], [NAME], [CATEGORY], [PARENT_SN], [URL], [SORT], [MODE], [IMG], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (110, N'冰水主機', N'P', 100, N'/Case/CaseIndex', 110, N'Y', NULL, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[FUNCTIONS] ([SN], [NAME], [CATEGORY], [PARENT_SN], [URL], [SORT], [MODE], [IMG], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (120, N'雨水回收', N'P', 100, N'/Interview/InterviewIndex', 120, N'Y', NULL, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[GRANTS] ([ROLES_SN], [USERS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (4, 37, CAST(N'2019-06-27T14:55:03.0000000' AS DateTime2), N'SUPER', CAST(N'2019-06-27T14:55:03.0000000' AS DateTime2), N'SUPER')
GO
INSERT [dbo].[GRANTS] ([ROLES_SN], [USERS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (4, 34, CAST(N'2019-04-12T19:54:21.0000000' AS DateTime2), N'SUPER', CAST(N'2019-04-12T19:54:21.0000000' AS DateTime2), N'SUPER')
GO
INSERT [dbo].[GRANTS] ([ROLES_SN], [USERS_SN], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (4, 33, CAST(N'2019-04-12T19:54:10.0000000' AS DateTime2), N'SUPER', CAST(N'2019-04-12T19:54:10.0000000' AS DateTime2), N'SUPER')
GO
INSERT [dbo].[PHRASE] ([SN], [PHRASE_GROUP], [PHRASE_KEY], [PHRASE_VALUE], [PHRASE_DESC], [PARENT_SN], [SORT], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (1, N'functions', N'D', N'目錄', N'', NULL, 2, N'Y', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'0', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'0')
GO
INSERT [dbo].[PHRASE] ([SN], [PHRASE_GROUP], [PHRASE_KEY], [PHRASE_VALUE], [PHRASE_DESC], [PARENT_SN], [SORT], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, N'functions', N'S', N'系統', N'', NULL, 1, N'Y', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'0', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'0')
GO
INSERT [dbo].[PHRASE] ([SN], [PHRASE_GROUP], [PHRASE_KEY], [PHRASE_VALUE], [PHRASE_DESC], [PARENT_SN], [SORT], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (3, N'functions', N'P', N'程式', N'', NULL, 3, N'Y', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'0', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'0')
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 
GO
INSERT [dbo].[ROLES] ([SN], [NAME], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (4, N'志工', N'Y', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin')
GO
INSERT [dbo].[ROLES] ([SN], [NAME], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (3, N'督導', N'Y', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin')
GO
INSERT [dbo].[ROLES] ([SN], [NAME], [MODE], [CDATE], [CUSER], [MDATE], [MUSER]) VALUES (2, N'系統管理者', N'Y', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin')
GO
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
INSERT [dbo].[SEQ] ([SEQ_TYPE], [SEQ_PRE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'INTERVIEW', N'DATETIME', N'201908232053001', CAST(N'2019-08-23T20:53:04.203' AS DateTime), CAST(N'2019-02-20T11:35:10.573' AS DateTime))
GO
INSERT [dbo].[SEQ_BIGINT] ([SEQ_TYPE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'CASE_OWNER', 456, CAST(N'2019-08-23T19:10:41.663' AS DateTime), CAST(N'2019-05-12T17:37:04.757' AS DateTime))
GO
INSERT [dbo].[SEQ_BIGINT] ([SEQ_TYPE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'FEELING', 3034, CAST(N'2019-08-23T20:45:42.160' AS DateTime), CAST(N'2019-05-12T17:37:04.757' AS DateTime))
GO
INSERT [dbo].[SEQ_BIGINT] ([SEQ_TYPE], [SEQ_NO], [MDATE], [CDATE]) VALUES (N'INTERVENTION', 3964, CAST(N'2019-08-23T20:45:42.173' AS DateTime), CAST(N'2019-05-12T17:37:04.757' AS DateTime))
GO
INSERT [dbo].[USERS] ([SN], [ID], [NAME], [PASSWORD], [EMAIL], [MODE], [MEMO], [CDATE], [CUSER], [MDATE], [MUSER], [FORCE_PWD]) VALUES (1, N'ADMIN', N'最高管理者', N'TWTAXI', N'jackychueh@gmail.com', N'Y', N'', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin', CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin', 0)
GO
INSERT [dbo].[USERS] ([SN], [ID], [NAME], [PASSWORD], [EMAIL], [MODE], [MEMO], [CDATE], [CUSER], [MDATE], [MUSER], [FORCE_PWD]) VALUES (2, N'SUPER', N'系統管理者', N'SUPER', N'sv01@kuanyin-line.org', N'Y', NULL, CAST(N'2019-02-20T11:25:50.0000000' AS DateTime2), N'Admin', CAST(N'2019-04-01T17:48:35.0000000' AS DateTime2), N'SUPER', 0)
GO
INSERT [dbo].[USERS] ([SN], [ID], [NAME], [PASSWORD], [EMAIL], [MODE], [MEMO], [CDATE], [CUSER], [MDATE], [MUSER], [FORCE_PWD]) VALUES (7, N'KY0003', N'觀音03號', N'021807', NULL, N'Y', NULL, CAST(N'2019-04-01T16:10:00.0000000' AS DateTime2), N'SUPER', CAST(N'2019-07-03T14:24:27.0000000' AS DateTime2), N'KY0003', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PHRASE]    Script Date: 2019/8/30 上午 07:56:21 ******/
ALTER TABLE [dbo].[PHRASE] ADD  CONSTRAINT [UK_PHRASE] UNIQUE NONCLUSTERED 
(
	[PHRASE_GROUP] ASC,
	[PHRASE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_USERS_ID]    Script Date: 2019/8/30 上午 07:56:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_USERS_ID] ON [dbo].[USERS]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_VARIABLE]    Script Date: 2019/8/30 上午 07:56:21 ******/
ALTER TABLE [dbo].[VARIABLE] ADD  CONSTRAINT [UK_VARIABLE] UNIQUE NONCLUSTERED 
(
	[VAR_TYPE] ASC,
	[VAR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTHORITY] ADD  CONSTRAINT [DF_AUTHORITY_MDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[AUTHORITY] ADD  CONSTRAINT [DF_AUTHORITY_MDATE1]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[FUNCTIONS] ADD  CONSTRAINT [DF_FUNCTION_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[FUNCTIONS] ADD  CONSTRAINT [DF_FUNCTION_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[PHRASE] ADD  CONSTRAINT [DF_PHRASE_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[PHRASE] ADD  CONSTRAINT [DF_PHRASE_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[SEQ] ADD  CONSTRAINT [DF_SEQ_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[SEQ] ADD  CONSTRAINT [DF_SEQ_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[SEQ_BIGINT] ADD  CONSTRAINT [DF_SEQ_BIGINT_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
ALTER TABLE [dbo].[SEQ_BIGINT] ADD  CONSTRAINT [DF_SEQ_BIGINT_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_FORCE_PWD]  DEFAULT ((1)) FOR [FORCE_PWD]
GO
ALTER TABLE [dbo].[VARIABLE] ADD  CONSTRAINT [DF_VARIABLE_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[VARIABLE] ADD  CONSTRAINT [DF_VARIABLE_MDATE]  DEFAULT (getdate()) FOR [MDATE]
GO
/****** Object:  StoredProcedure [dbo].[USP_SEQ]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<JACKY.CHUEH>
-- Create date: <2001/11/15>
-- Description:	<Description,,>
--Example: 
/*
	DECLARE @CUR_TYPE VARCHAR(20)='TEST'
	DECLARE @CUR_PRE VARCHAR(10)='DATETIME'
	DECLARE @LEN INT=3
	EXEC [dbo].[USP_SEQ] @CUR_TYPE,@CUR_PRE,@LEN
	
*/

-- =============================================
CREATE PROCEDURE [dbo].[USP_SEQ]
	@CUR_TYPE VARCHAR(20)='RND',
	@CUR_PRE VARCHAR(10)='RND',
	@LEN INT=4
AS
BEGIN
	BEGIN TRANSACTION
	DECLARE @CUR_NO VARCHAR(20)
	DECLARE @NEW_NO VARCHAR(20)
	DECLARE @DATETIME VARCHAR(12)=CONVERT(VARCHAR(20),GETDATE(),112)+REPLACE(CONVERT(VARCHAR(5), GETDATE(), 108),':','')
	DECLARE @ROWCOUNT INT
	
	SELECT @CUR_NO=[SEQ_NO] FROM [dbo].[SEQ] WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
	IF @@ROWCOUNT=1
	BEGIN
		IF @CUR_PRE='DATETIME'
		BEGIN
			IF LEFT(@CUR_NO,12)=@DATETIME
			BEGIN
				SELECT @NEW_NO=@DATETIME+RIGHT(REPLICATE('0' ,@LEN)+CONVERT(VARCHAR(MAX),CONVERT(INT,RIGHT(@CUR_NO,@LEN))+1),@LEN)
				UPDATE [dbo].[SEQ] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
				SET @ROWCOUNT=@@ROWCOUNT
			END 
			ELSE
			BEGIN
				SELECT @NEW_NO=@DATETIME+REPLICATE('0' ,@LEN-1)+'1'
				UPDATE [dbo].[SEQ] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
				SET @ROWCOUNT=@@ROWCOUNT
			END
		END
		ELSE
		BEGIN
			SELECT @NEW_NO=@CUR_PRE+RIGHT(REPLICATE('0' ,@LEN)+CONVERT(VARCHAR(MAX),CONVERT(INT,RIGHT(@CUR_NO,@LEN))+1),@LEN)
			UPDATE [dbo].[SEQ] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE AND [SEQ_PRE]=@CUR_PRE
			SET @ROWCOUNT=@@ROWCOUNT
		END
		
	END
	ELSE
	BEGIN
		IF @CUR_PRE='DATETIME'
		BEGIN
			SELECT @NEW_NO=@DATETIME+REPLICATE('0' ,@LEN-1)+'1'
			PRINT @NEW_NO
		END
		ELSE
		BEGIN
			SELECT @NEW_NO=@CUR_PRE+REPLICATE('0' ,@LEN-1)+'1'
			PRINT @NEW_NO
		END
		INSERT INTO [dbo].[SEQ] ([SEQ_TYPE],[SEQ_PRE],[SEQ_NO],[MDATE],[CDATE]) VALUES (@CUR_TYPE,@CUR_PRE,@NEW_NO,GETDATE(),GETDATE())
	END
	
	IF @@ERROR<>0 OR @ROWCOUNT=0
	BEGIN
		ROLLBACK TRANSACTION
		SELECT '1' AS [ERROR], '' AS [NEW_NO]
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SELECT '0' AS [ERROR], @NEW_NO AS [NEW_NO]
	END
	
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SEQ_BIGINT]    Script Date: 2019/8/30 上午 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<JACKY.CHUEH>
-- Create date: <2001/11/15>
-- Description:	<Description,,>
--Example: 
/*
	DECLARE @CUR_TYPE VARCHAR(20)='CASE_OWNER'
	EXEC [dbo].[USP_SEQ_BIGINT] @CUR_TYPE
	
*/

-- =============================================
create PROCEDURE [dbo].[USP_SEQ_BIGINT]
	@CUR_TYPE VARCHAR(20)='DEFAULT'
AS
BEGIN
	BEGIN TRANSACTION
	DECLARE @CUR_NO BIGINT
	DECLARE @NEW_NO BIGINT
	DECLARE @ROWCOUNT INT
	
	SELECT @CUR_NO=[SEQ_NO] FROM [dbo].[SEQ_BIGINT] WHERE [SEQ_TYPE]=@CUR_TYPE
	IF @@ROWCOUNT=1
	BEGIN
		BEGIN
			SELECT @NEW_NO=@CUR_NO+1
			UPDATE [dbo].[SEQ_BIGINT] SET [SEQ_NO]=@NEW_NO,[MDATE]=GETDATE() WHERE [SEQ_TYPE]=@CUR_TYPE
			SET @ROWCOUNT=@@ROWCOUNT
		END
		
	END
	ELSE
	BEGIN
		BEGIN
			SELECT @NEW_NO=1
			--PRINT @NEW_NO
		END
		INSERT INTO [dbo].[SEQ_BIGINT] ([SEQ_TYPE],[SEQ_NO],[MDATE],[CDATE]) VALUES (@CUR_TYPE,@NEW_NO,GETDATE(),GETDATE())
	END
	
	IF @@ERROR<>0 OR @ROWCOUNT=0
	BEGIN
		ROLLBACK TRANSACTION
		SELECT '1' AS [ERROR], '' AS [NEW_NO]
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SELECT '0' AS [ERROR], @NEW_NO AS [NEW_NO]
	END
	
END

GO
USE [master]
GO
