
@{
    ViewBag.Title = "AHUGraph";
}
@section Styles
{
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header">
        <div class="form-inline">
            <div class="col">
                空調箱
            </div>
            <button type="button" id="query" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-search fa-lg mr-1"></i>查詢</button>
        </div>
    </div>
    <div class="card-body">
        <!--查詢區塊-->
        <form id="section_retrieve" style="display: none;">
            <div class="form-row">
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <label for="SDATE">日期時間(起)</label>
                    <input type="text" class="form-control form-control-sm" id="SDATE" name="SDATE">
                </div>
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <label for="EDATE">日期時間(迄)</label>
                    <input type="text" class="form-control form-control-sm" id="EDATE" name="EDATE">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="LOCATION">位置</label>
                    <select class="form-control form-control-sm" id="LOCATION" name="LOCATION"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="DEVICE_ID">設備名稱</label>
                    <select class="form-control form-control-sm" id="DEVICE_ID" name="DEVICE_ID"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="GROUP_BY_DT">分組類型</label>
                    <select class="form-control form-control-sm  fields" id="GROUP_BY_DT" name="GROUP_BY_DT"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="FIELD">數據欄位</label>
                    <select class="form-control form-control-sm  fields" id="FIELD" name="FIELD">
                        <option value="AHU01">故障跳脫</option>
                        <option value="AHU02">旋鈕檔位狀態</option>
                        <option value="AHU03">外氣風門到位(%)</option>
                        <option value="AHU04">回風風門到位(%)</option>
                        <option value="AHU05">回風溫度</option>
                        <option value="AHU06">回風濕度</option>
                        <option value="AHU07">出風溫度</option>
                        <option value="AHU08">出風濕度</option>
                        <option value="AHU09">回風溫度設定</option>
                        <option value="AHU10">冰水閥實際開度顯示</option>
                        <option value="AHU11">變頻器運轉輸出頻率(Hz)</option>
                    </select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="GRAPH_TYPE">圖表類型</label>
                    <select class="form-control form-control-sm  fields" id="GRAPH_TYPE" name="GRAPH_TYPE"></select>
                </div>
            </div>
        </form>
        @*<div class="form-row">
            <div class="col-12">
                <div class="card" style="width:79vw;height:90vh;">
                    <canvas id="chartLine"></canvas>
                </div>
            </div>
        </div>*@
        @*<div class="chart-container card">
            <canvas id="chartLine"></canvas>
        </div>*@
        <div style="width:100%">
            <canvas id="chartLine"></canvas>
        </div>

        <!--/查詢區塊-->
    </div>
</div>

<div class="modal" id="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">訊息標題</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>顯示訊息主體</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" id="confirm" class="btn btn-secondary" style="display: none;">確定</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/js/AHUGraph.js"></script>
    <script type="text/JavaScript">
        $(document).ready(function () {
            AHUGraph.Page_Init();
        });
    </script>
}
