@{
    ViewBag.Title = "CaseIndex";
}
<div class="card">
    <div class="card-header">
        <div class="form-inline">
            <div class="col">
                空調箱
            </div>
            <button type="button" id="query" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-search fa-lg mr-1"></i>查詢</button>
        </div>
    </div>
    <div class="card-body">
        <!--查詢區塊-->
        <form id="section_retrieve" style="display: none;">
            <div class="form-row">
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="SN">位置</label>
                    <input type="text" class="form-control form-control-sm fields" id="SN" name="SN">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="NAME1">裝置</label>
                    <input type="text" class="form-control form-control-sm fields" id="NAME1" name="NAME1">
                </div>
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <label for="DATE_RANGE">日期時間</label>
                    <input type="text" class="form-control form-control-sm" id="DATE_RANGE" name="DATE_RANGE">
                </div>
            </div>
            <div class="table-responsive">
                <table id="gridview" class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>日期時間</th>
                            <th>位置</th>
                            <th>裝置</th>
                            <th>故障跳脫</th>
                            <th>旋鈕檔位狀態</th>
                            <th>外氣風門到位(%)</th>
                            <th>回風風門到位(%)</th>
                            <th>回風溫度</th>
                            <th>回風濕度</th>
                            <th>出風溫度</th>
                            <th>出風濕度</th>
                            <th>回風溫度設定</th>
                            <th>冰水閥實際開度顯示</th>
                            <th>變頻器運轉輸出頻率(Hz)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="paging_block" class="form-inline">
                <div class="input-group input-group-sm mr-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">第<i id="interval">0-0</i>筆</span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">共<i id="rows_count">0</i>筆</span>
                        <span class="input-group-text">耗時<i id="time_consuming">0</i>秒</span>
                    </div>
                </div>
                <div class="input-group input-group-sm mr-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">第</span>
                    </div>
                    <div class="input-group-append">
                        <select id="page_number" class="form-control-sm rounded-0"></select>
                        <span class="input-group-text">頁</span>
                        <span class="input-group-text">共<i id="page_count">0</i>頁</span>
                    </div>
                </div>
                <div class="input-group input-group-sm mr-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">每頁</span>
                    </div>
                    <div class="input-group-append">
                        <select id="page_size" class="form-control-sm rounded-0"></select>
                        <span class="input-group-text">筆</span>
                    </div>
                </div>
            </div>
        </form>
        <!--/查詢區塊-->
    </div>
</div>

<div class="modal" id="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">訊息標題</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>顯示訊息主體</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" id="confirm" class="btn btn-secondary" style="display: none;">確定</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/AHU.js"></script>
    <script type="text/JavaScript">
        $(document).ready(function () {
            AHUIndex.Page_Init();
        });
    </script>
}
