
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<title>中控室監控數據報表系統</title>*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body class="text-center">
    <form class="form-signin">
        <img src="~/img/TaiwanPower2.png" alt="" width="192" height="50">
        <h1 class="h4 mb-3 font-weight-normal">@*中控室監控數據報表系統*@</h1>
        <label for="ID" class="sr-only">帳號</label>
        <input type="text" id="ID" class="form-control" value="" placeholder="帳號" required autofocus>
        <label for="PASSWORD" class="sr-only">密碼</label>
        <input type="password" id="PASSWORD" class="form-control" value="" placeholder="密碼" required>
        <div class="mb-5"></div>
        @*<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>*@
        <button type="button" id="Login" class="btn btn-lg btn-primary btn-block">登入系統</button>
        @*<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>*@
        <div class="mt-5"></div>
    </form>

    <div class="modal" id="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">訊息標題</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>顯示訊息主體</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" id="confirm" class="btn btn-secondary" style="display: none;">確定</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/js/Login.js"></script>
    <script type="text/JavaScript">
        $(document).ready(function () {
            Login.Page_Init();
            Login.LoginCheckUrl = '@(Url.Action("LoginCheck", "Main", null, Request.Url.Scheme))';
            Login.DashboardUrl = '@(Url.Action("Dashboard", "Main", null, Request.Url.Scheme))';
        });
    </script>
</body>
</html>
