
@{
    ViewBag.Title = "語音卡警報參數設定";
}

@section Styles
{
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-header">
        <div class="form-inline">
            <div class="col">警報記錄查詢</div>
            <button type="button" id="query" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-search fa-lg mr-1 text-primary"></i>查詢</button>
            @*<button type="button" id="create" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-plus-square fa-lg mr-1 text-warning"></i>新增</button>
            <button type="button" id="save" class="btn btn-sm btn-outline-dark ml-1" style="display:none;"><i class="fa fa-save fa-lg mr-1 text-success"></i>存檔</button>
            <button type="button" id="default" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-tasks fa-lg mr-1 text-info"></i>帶入預設值</button>
            <button type="button" id="undo" class="btn btn-sm btn-outline-dark ml-1" style="display:none;"><i class="fa fa-undo fa-lg mr-1"></i>復原</button>
            <button type="button" id="delete" class="btn btn-sm btn-outline-dark ml-1" style="display:none;"><i class="fa fa-trash fa-lg mr-1 text-danger"></i>刪除</button>
            <button type="button" id="return" class="btn btn-sm btn-outline-dark ml-1" style="display:none;"><i class="fa fa-arrow-left fa-lg mr-1 text-secondary"></i>返回</button>*@
        </div>
    </div>
    <div class="card-body">
        <form id="section_retrieve" style="display: none;">
            <div class="form-row">
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <label for="SDATE">日期時間(起)</label>
                    <input type="text" class="form-control form-control-sm" id="SDATE" name="SDATE">
                </div>
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <label for="EDATE">日期時間(迄)</label>
                    <input type="text" class="form-control form-control-sm" id="EDATE" name="EDATE">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="DATA_TYPE">監控類別</label>
                    <select class="form-control form-control-sm" name="DATA_TYPE"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="LOCATION">位置</label>
                    <select class="form-control form-control-sm" name="LOCATION"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="DEVICE_ID">設備名稱</label>
                    <select class="form-control form-control-sm" name="DEVICE_ID"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="DATA_FIELD">數據欄位</label>
                    <select class="form-control form-control-sm" name="DATA_FIELD"></select>
                </div>
            </div>

            <div class="table-responsive">
                <table id="gridview" class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>序號</th>
                            <th>監控類別</th>
                            <th>位置</th>
                            <th>設備名稱</th>
                            <th>數據欄位</th>
                            <th>最大值</th>
                            <th>最小值</th>
                            <th>警報值</th>
                            <th>警報時間</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="paging_block" class="form-inline">
                <div class="input-group input-group-sm mr-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">第<i id="interval">0-0</i>筆</span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">共<i id="rows_count">0</i>筆</span>
                        <span class="input-group-text">耗時<i id="time_consuming">0</i>秒</span>
                    </div>
                </div>
                <div class="input-group input-group-sm mr-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">第</span>
                    </div>
                    <div class="input-group-append">
                        <select id="page_number" class="form-control-sm rounded-0"></select>
                        <span class="input-group-text">頁</span>
                        <span class="input-group-text">共<i id="page_count">0</i>頁</span>
                    </div>
                </div>
                <div class="input-group input-group-sm mr-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">每頁</span>
                    </div>
                    <div class="input-group-append">
                        <select id="page_size" class="form-control-sm rounded-0"></select>
                        <span class="input-group-text">筆</span>
                    </div>
                </div>
            </div>
        </form>

        <form id="section_modify" style="display: none;">
            <div class="form-row">
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="SID">序號</label>
                    <input type="text" class="form-control form-control-sm modify" id="SID" name="SID" placeholder="系統自動產生" disabled />
                </div>
                <div class="w-100"></div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="MODE">警報狀態</label>
                    <select class="form-control form-control-sm modify" id="MODE" name="MODE"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="DATA_TYPE">監控類別</label>
                    <select class="form-control form-control-sm modify" id="DATA_TYPE" name="DATA_TYPE"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="LOCATION">位置</label>
                    <select class="form-control form-control-sm modify" id="LOCATION" name="LOCATION"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="DEVICE_ID">設備名稱</label>
                    <select class="form-control form-control-sm modify" id="DEVICE_ID" name="DEVICE_ID"></select>
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="DATA_FIELD">數據欄位</label>
                    <select class="form-control form-control-sm modify" id="DATA_FIELD" name="DATA_FIELD"></select>
                </div>
                <div class="w-100"></div>
                <div id="spec" class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="display:none;">
                    <span class="text-danger">*</span>
                    <label for="SPEC_VALUE">特定值</label>
                    <select class="form-control form-control-sm modify" id="SPEC_VALUE" name="SPEC_VALUE"></select>
                </div>
                <div id="max" class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="MAX_VALUE">最大值</label>
                    <input type="text" class="form-control form-control-sm modify" id="MAX_VALUE" name="MAX_VALUE">
                </div>
                <div id="min" class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="MIN_VALUE">最小值</label>
                    <input type="text" class="form-control form-control-sm modify" id="MIN_VALUE" name="MIN_VALUE">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <span class="text-danger">*</span>
                    <label for="CHECK_INTERVAL">檢查間隔時間(分)</label>
                    <input type="text" class="form-control form-control-sm modify" id="CHECK_INTERVAL" name="CHECK_INTERVAL">
                </div>
                @*<div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <span class="text-danger">*</span>
                        <label for="ALERT_INTERVAL">通知間隔時間(分)</label>
                        <input type="text" class="form-control form-control-sm modify" id="ALERT_INTERVAL" name="ALERT_INTERVAL">
                    </div>*@
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label class="form-check-label">檢查之優先順序</label>
                    <div class="w-100"></div>
                    <div class="form-check form-check-inline m-2">
                        <input class="form-check-input" type="checkbox" value="" id="CHECK_HR_CALENDAR" name="CHECK_HR_CALENDAR">
                        <label class="form-check-label" for="CHECK_HR_CALENDAR">以例假日設定為主</label>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期日</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="SUN" name="SUN">
                        <label class="form-check-label" for="SUN">執行檢查</label>
                    </div>
                    <label for="SUN_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="SUN_STIME" name="SUN_STIME">
                    <label for="SUN_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="SUN_ETIME" name="SUN_ETIME">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期一</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="MON" name="MON">
                        <label class="form-check-label" for="MON">執行檢查</label>
                    </div>
                    <label for="MON_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="MON_STIME" name="MON_STIME">
                    <label for="MON_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="MON_ETIME" name="MON_ETIME">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期二</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="TUE" name="TUE">
                        <label class="form-check-label" for="TUE">執行檢查</label>
                    </div>
                    <label for="TUE_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="TUE_STIME" name="TUE_STIME">
                    <label for="TUE_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="TUE_ETIME" name="TUE_ETIME">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期三</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="WED" name="WED">
                        <label class="form-check-label" for="WED">執行檢查</label>
                    </div>
                    <label for="WED_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="WED_STIME" name="WED_STIME">
                    <label for="WED_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="WED_ETIME" name="WED_ETIME">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期四</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="THU" name="THU">
                        <label class="form-check-label" for="THU">執行檢查</label>
                    </div>
                    <label for="THU_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="THU_STIME" name="THU_STIME">
                    <label for="THU_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="THU_ETIME" name="THU_ETIME">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期五</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="FRI" name="FRI">
                        <label class="form-check-label" for="FRI">執行檢查</label>
                    </div>
                    <label for="FRI_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="FRI_STIME" name="FRI_STIME">
                    <label for="FRI_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="FRI_ETIME" name="FRI_ETIME">
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card p-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">星期六</label>
                        <input class="form-check-input ml-3" type="checkbox" value="" id="STA" name="STA">
                        <label class="form-check-label" for="STA">執行檢查</label>
                    </div>
                    <label for="STA_STIME">時間(起)</label>
                    <input type="text" class="form-control form-control-sm modify" id="STA_STIME" name="STA_STIME">
                    <label for="STA_ETIME">時間(迄)</label>
                    <input type="text" class="form-control form-control-sm modify" id="STA_ETIME" name="STA_ETIME">
                </div>
                <div class="w-100"></div>
                <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <span class="text-danger">*</span>
                    <label for="MAIL_TO">
                        郵件通知清單
                        <button type="button" id="mail_add" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-user-plus fa-lg mr-1 text-primary"></i>加入</button>
                        <button type="button" id="mail_delete" class="btn btn-sm btn-outline-dark ml-1"><i class="fa fa-user-times fa-lg mr-1 text-danger"></i>移除</button>
                    </label>
                    <select multiple class="form-control modify" id="MAIL_TO" name="MAIL_TO" size="6"></select>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="CDATE">建檔時間</label>
                    <input type="text" class="form-control form-control-sm modify" id="CDATE" name="CDATE" placeholder="系統自動產生" disabled />
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="CUSER">建檔人員</label>
                    <input type="text" class="form-control form-control-sm modify" id="CUSER" name="CUSER" placeholder="系統自動產生" disabled />
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="MDATE">修改時間</label>
                    <input type="text" class="form-control form-control-sm modify" id="MDATE" name="MDATE" placeholder="系統自動產生" disabled />
                </div>
                <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="MUSER">修改人員</label>
                    <input type="text" class="form-control form-control-sm modify" id="MUSER" name="MUSER" placeholder="系統自動產生" disabled />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">訊息標題</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>顯示訊息主體</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" id="confirm" class="btn btn-secondary" style="display: none;">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_action" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">訊息標題</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>顯示訊息主體</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" id="confirm" class="btn btn-secondary" style="display: none;">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_mail" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">郵件通知清單</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="EMAIL">收件者</label>
                        <input type="text" class="form-control form-control-sm modify" id="EMAIL" name="EMAIL" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" id="confirm" class="btn btn-secondary">加入</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/js/ALERT_LOGIndex.js"></script>
    <script type="text/JavaScript">
        $(document).ready(function () {
            ALERT_LOGIndex.Page_Init();
        });
    </script>
}